# GitHub App (OAuth)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# GitHub App (Server-to-server)
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=

# Upstash Redis (Cache)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Slack App (Agents & AI Apps)
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
